@import "./variable.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#product-section {
  overflow-x: hidden;
  background-color: #e9e9e9;
  h1 {
    font-size: 4rem;
    margin: 0 auto;
    padding-bottom: 6%;
    font-family: "Courgette", cursive;
  }
}

.filter-box {
  display: flex;
  justify-content: space-between;
}

#product-section img {
  object-fit: cover;
}

.trade {
  .trade-details {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
